.text-neutral-500 {
  color: #7c8fac !important;
}

.icon-left {
  left: 10px;
  color: #6c757d;
}

.icon-right {
  right: 10px;
  color: #6c757d;
  cursor: pointer;
}

.form-control_padding {
  padding: 0.594rem 2.3rem !important;
}

.form-control_padding_left {
  padding: 0.594rem 0.594rem 0.594rem 2.3rem !important;
}
