@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --base-padding: 4px;

  --primary-base: #4474fd;
  --primary-300: #3062ef;
  --primary-200: #ecf2ff;
  --primary-100: #f2f6fa;

  --secondary-base: #49beff;
  --secondary-200: #e8f7ff;

  --alert-success: #19dfaa;
  --alert-warning: #ffae1f;
  --alert-danger: #ff4949;
  --alert-primary: #539bff;

  --action-light-success: #e6fffa;
  --action-light-warning: #fef5e5;
  --action-light-danger: #fbf2ef;
  --action-light-primary: #ebf3fe;

  --neutral-600: #2a3547;
  --neutral-500: #5a6a85;
  --neutral-400: #7c8fac;
  --neutral-300: #dfe5ef;
  --neutral-200: #eaeff4;
  --neutral-100: #f6f9fc;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* remove a link */
a {
  text-decoration: none;
}

/* width */
.w-20px {
  width: 20px !important;
}

.w-24px {
  width: 24px !important;
}

.w-48px {
  width: 48px !important;
}

.w-32px {
  width: 32px !important;
}

.w-35px {
  width: 35px !important;
}

.w-40px {
  width: 40px !important;
}

.w-60px {
  width: 60px !important;
}

.w-80px {
  width: 80px !important;
}

.w-275px {
  width: 275px !important;
}

/* height */
.h-20px {
  height: 20px !important;
}

.h-24px {
  height: 24px !important;
}

.h-48px {
  height: 48px !important;
}

.h-32px {
  height: 32px !important;
}

.h-35px {
  height: 35px !important;
}

.h-40px {
  height: 40px !important;
}

.h-60px {
  height: 60px !important;
}

.h-80px {
  height: 80px !important;
}

.h-275px {
  height: 275px !important;
}

/* padding */
.p-custom-7 {
  padding: calc(var(--base-padding) * 7.5) !important;
}

.px-custom-7 {
  padding-left: calc(var(--base-padding) * 7.5) !important;
  padding-right: calc(var(--base-padding) * 7.5) !important;
}

.py-custom-7 {
  padding-top: calc(var(--base-padding) * 7.5) !important;
  padding-bottom: calc(var(--base-padding) * 7.5) !important;
}

.pb-custom-7 {
  padding-bottom: calc(var(--base-padding) * 7.5) !important;
}

.pt-custom-7 {
  padding-top: calc(var(--base-padding) * 7.5) !important;
}

.pl-custom-7 {
  padding-left: calc(var(--base-padding) * 7.5) !important;
}

.pr-custom-7 {
  padding-right: calc(var(--base-padding) * 7.5) !important;
}

.pr-custom-7 {
  padding-right: calc(var(--base-padding) * 7.5) !important;
}

.pr-custom-17 {
  padding-right: calc(var(--base-padding) * 18.5) !important;
}

/* Padding 17 */
.pb-custom-17 {
  padding-bottom: calc(var(--base-padding) * 18.5) !important;
}

/* Padding 12 */
.p-custom-12 {
  padding: calc(var(--base-padding) * 3) !important;
}

.px-custom-12 {
  padding-right: calc(var(--base-padding) * 3) !important;
  padding-left: calc(var(--base-padding) * 3) !important;
}

.py-custom-12 {
  padding-top: calc(var(--base-padding) * 3) !important;
  padding-bottom: calc(var(--base-padding) * 3) !important;
}

.pt-custom-12 {
  padding-top: calc(var(--base-padding) * 3) !important;
}

.pb-custom-12 {
  padding-bottom: calc(var(--base-padding) * 3) !important;
}

.pl-custom-12 {
  padding-left: calc(var(--base-padding) * 3) !important;
}

.pr-custom-12 {
  padding-right: calc(var(--base-padding) * 3) !important;
}

/* Padding 14 */
.p-custom-14 {
  padding: calc(var(--base-padding) * 3.5) !important;
}

.px-custom-14 {
  padding-right: calc(var(--base-padding) * 3.5) !important;
  padding-left: calc(var(--base-padding) * 3.5) !important;
}

.py-custom-14 {
  padding-top: calc(var(--base-padding) * 3.5) !important;
  padding-bottom: calc(var(--base-padding) * 3.5) !important;
}

.pt-custom-14 {
  padding-top: calc(var(--base-padding) * 3.5) !important;
}

.pb-custom-14 {
  padding-bottom: calc(var(--base-padding) * 3.5) !important;
}

.pl-custom-14 {
  padding-left: calc(var(--base-padding) * 3.5) !important;
}

.pr-custom-14 {
  padding-right: calc(var(--base-padding) * 3.5) !important;
}

/* Padding 18 */
.p-custom-18 {
  padding: calc(var(--base-padding) * 4.5) !important;
}

.px-custom-18 {
  padding-right: calc(var(--base-padding) * 4.5) !important;
  padding-left: calc(var(--base-padding) * 4.5) !important;
}

.py-custom-18 {
  padding-top: calc(var(--base-padding) * 4.5) !important;
  padding-bottom: calc(var(--base-padding) * 4.5) !important;
}

.pt-custom-18 {
  padding-top: calc(var(--base-padding) * 4.5) !important;
}

.pb-custom-18 {
  padding-bottom: calc(var(--base-padding) * 4.5) !important;
}

.pl-custom-18 {
  padding-left: calc(var(--base-padding) * 4.5) !important;
}

.pr-custom-18 {
  padding-right: calc(var(--base-padding) * 4.5) !important;
}

/* Padding 28 */
.p-custom-28 {
  padding: calc(var(--base-padding) * 7) !important;
}

.px-custom-28 {
  padding-right: calc(var(--base-padding) * 7) !important;
  padding-left: calc(var(--base-padding) * 7) !important;
}

.py-custom-28 {
  padding-top: calc(var(--base-padding) * 7) !important;
  padding-bottom: calc(var(--base-padding) * 7) !important;
}

.pt-custom-28 {
  padding-top: calc(var(--base-padding) * 7) !important;
}

.pb-custom-28 {
  padding-bottom: calc(var(--base-padding) * 7) !important;
}

.pl-custom-28 {
  padding-left: calc(var(--base-padding) * 7) !important;
}

.pr-custom-28 {
  padding-right: calc(var(--base-padding) * 7) !important;
}

/* Padding 32 */
.p-custom-32 {
  padding: calc(var(--base-padding) * 8) !important;
}

.px-custom-32 {
  padding-right: calc(var(--base-padding) * 8) !important;
  padding-left: calc(var(--base-padding) * 8) !important;
}

.py-custom-32 {
  padding-top: calc(var(--base-padding) * 8) !important;
  padding-bottom: calc(var(--base-padding) * 8) !important;
}

.pt-custom-32 {
  padding-top: calc(var(--base-padding) * 8) !important;
}

.pb-custom-32 {
  padding-bottom: calc(var(--base-padding) * 8) !important;
}

.pl-custom-32 {
  padding-left: calc(var(--base-padding) * 8) !important;
}

.pr-custom-32 {
  padding-right: calc(var(--base-padding) * 8) !important;
}

/* Padding 40 */
.p-custom-40 {
  padding: calc(var(--base-padding) * 7) !important;
}

.px-custom-40 {
  padding-right: calc(var(--base-padding) * 10) !important;
  padding-left: calc(var(--base-padding) * 10) !important;
}

.py-custom-40 {
  padding-top: calc(var(--base-padding) * 10) !important;
  padding-bottom: calc(var(--base-padding) * 10) !important;
}

.pt-custom-40 {
  padding-top: calc(var(--base-padding) * 10) !important;
}

.pb-custom-40 {
  padding-bottom: calc(var(--base-padding) * 10) !important;
}

.pl-custom-40 {
  padding-left: calc(var(--base-padding) * 10) !important;
}

.pr-custom-40 {
  padding-right: calc(var(--base-padding) * 10) !important;
}

/* Padding 60 */
.p-custom-60 {
  padding: calc(var(--base-padding) * 15) !important;
}

.px-custom-60 {
  padding-right: calc(var(--base-padding) * 15) !important;
  padding-left: calc(var(--base-padding) * 15) !important;
}

.py-custom-60 {
  padding-top: calc(var(--base-padding) * 15) !important;
  padding-bottom: calc(var(--base-padding) * 15) !important;
}

.pt-custom-60 {
  padding-top: calc(var(--base-padding) * 15) !important;
}

.pb-custom-60 {
  padding-bottom: calc(var(--base-padding) * 15) !important;
}

.pl-custom-60 {
  padding-left: calc(var(--base-padding) * 15) !important;
}

.pr-custom-60 {
  padding-right: calc(var(--base-padding) * 15) !important;
}

/* margin */
.m-custom-7 {
  margin: calc(var(--base-padding) * 7.5) !important;
}

.mx-custom-7 {
  margin-left: calc(var(--base-padding) * 7.5) !important;
  margin-right: calc(var(--base-padding) * 7.5) !important;
}

.my-custom-7 {
  margin-top: calc(var(--base-padding) * 7.5) !important;
  margin-bottom: calc(var(--base-padding) * 7.5) !important;
}

.mb-custom-7 {
  margin-bottom: calc(var(--base-padding) * 7.5) !important;
}

.mt-custom-7 {
  margin-top: calc(var(--base-padding) * 7.5) !important;
}

.ml-custom-7 {
  margin-left: calc(var(--base-padding) * 7.5) !important;
}

.mr-custom-7 {
  margin-right: calc(var(--base-padding) * 7.5) !important;
}

/* Margin-12 */
.m-custom-12 {
  margin: calc(var(--base-padding) * 3) !important;
}

.mx-custom-12 {
  margin-left: calc(var(--base-padding) * 3) !important;
  margin-right: calc(var(--base-padding) * 3) !important;
}

.my-custom-12 {
  margin-top: calc(var(--base-padding) * 3) !important;
  margin-bottom: calc(var(--base-padding) * 3) !important;
}

.mb-custom-12 {
  margin-bottom: calc(var(--base-padding) * 3) !important;
}

.mt-custom-12 {
  margin-top: calc(var(--base-padding) * 3) !important;
}

.ml-custom-12 {
  margin-left: calc(var(--base-padding) * 3) !important;
}

.mr-custom-12 {
  margin-right: calc(var(--base-padding) * 3) !important;
}

.mr-custom-12 {
  margin-right: calc(var(--base-padding) * 3) !important;
}

/* Margin 22px */
.m-custom-22 {
  margin: calc(var(--base-padding) * 5.5) !important;
}

.mx-custom-22 {
  margin-left: calc(var(--base-padding) * 5.5) !important;
  margin-right: calc(var(--base-padding) * 5.5) !important;
}

.my-custom-22 {
  margin-top: calc(var(--base-padding) * 5.5) !important;
  margin-bottom: calc(var(--base-padding) * 5.5) !important;
}

.mb-custom-22 {
  margin-bottom: calc(var(--base-padding) * 5.5) !important;
}

.mt-custom-22 {
  margin-top: calc(var(--base-padding) * 5.5) !important;
}

.ml-custom-22 {
  margin-left: calc(var(--base-padding) * 5.5) !important;
}

.mr-custom-22 {
  margin-right: calc(var(--base-padding) * 5.5) !important;
}

.mr-custom-22 {
  margin-right: calc(var(--base-padding) * 5.5) !important;
}

/* Margin 32px */
.m-custom-32 {
  margin: calc(var(--base-padding) * 8) !important;
}

.mx-custom-32 {
  margin-left: calc(var(--base-padding) * 8) !important;
  margin-right: calc(var(--base-padding) * 8) !important;
}

.my-custom-32 {
  margin-top: calc(var(--base-padding) * 8) !important;
  margin-bottom: calc(var(--base-padding) * 8) !important;
}

.mb-custom-32 {
  margin-bottom: calc(var(--base-padding) * 8) !important;
}

.mt-custom-32 {
  margin-top: calc(var(--base-padding) * 8) !important;
}

.ml-custom-32 {
  margin-left: calc(var(--base-padding) * 8) !important;
}

.mr-custom-32 {
  margin-right: calc(var(--base-padding) * 8) !important;
}

.mr-custom-32 {
  margin-right: calc(var(--base-padding) * 8) !important;
}

.m-custom-14 {
  margin: calc(var(--base-padding) * 3.5) !important;
}

.mx-custom-14 {
  margin-left: calc(var(--base-padding) * 3.5) !important;
  margin-right: calc(var(--base-padding) * 3.5) !important;
}

.my-custom-14 {
  margin-top: calc(var(--base-padding) * 3.5) !important;
  margin-bottom: calc(var(--base-padding) * 3.5) !important;
}

.mb-custom-14 {
  margin-bottom: calc(var(--base-padding) * 3.5) !important;
}

.mt-custom-14 {
  margin-top: calc(var(--base-padding) * 3.5) !important;
}

.ml-custom-14 {
  margin-left: calc(var(--base-padding) * 3.5) !important;
}

.mr-custom-14 {
  margin-right: calc(var(--base-padding) * 3.5) !important;
}

.mr-custom-14 {
  margin-right: calc(var(--base-padding) * 3.5) !important;
}

/* background color */
.bg-primary-base {
  background-color: var(--primary-base) !important;
}

.bg-primary-300 {
  background-color: var(--primary-300) !important;
}

.bg-primary-200 {
  background-color: var(--primary-200) !important;
}

.bg-primary-100 {
  background-color: var(--primary-100) !important;
}

.bg-danger-light {
  background-color: var(--action-light-danger) !important;
}

.bg-success-light {
  background-color: var(--action-light-success) !important;
}

/* text color */
.text-primary {
  color: var(--primary-base) !important;
}

.text-warning {
  color: var(--alert-warning) !important;
}

.text-danger {
  color: var(--alert-danger) !important;
}

.text-success {
  color: var(--alert-success) !important;
}

.text-neutral-base {
  color: var(--neutral-600) !important;
}

.text-secondary {
  color: var(--neutral-500) !important;
}

.text-neutral-400 {
  color: var(--neutral-400) !important;
}

.text-neutral-300 {
  color: var(--neutral-300) !important;
}

.text-neutral-200 {
  color: var(--neutral-200) !important;
}

/* btn color */
.btn-primary {
  --bs-btn-bg: var(--primary-base) !important;
}

.btn-outline-primary {
  --bs-btn-color: var(--primary-base);
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: var(--primary-base);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-300);
  --bs-btn-hover-border-color: #2f5ad2;
}

/* gap */
.gap-12 {
  gap: calc(var(--base-padding) * 3) !important;
}

.gap-20 {
  gap: 20px !important;
}

.gap-22 {
  gap: 22px !important;
}

.gap-32 {
  gap: 32px !important;
}

.gap-30 {
  gap: 30px !important;
}

.gap-40 {
  gap: 40px !important;
}

.gap-100 {
  gap: 100px !important;
}

/* font size */
.fs-21px {
  font-size: 21px !important;
}

.fs-18px {
  font-size: 18px !important;
}

.fs-46px {
  font-size: 46px !important;
}

.fs-14px {
  font-size: 14px !important;
}

.fs-12px {
  font-size: 12px !important;
}

/* Rounded */
.rounded-12px {
  border-radius: calc(var(--base-padding) * 3) !important;
}

/* Custom Bootstrap */
.form-control {
  padding: 0.594rem 0.75rem !important;
  font-size: 14px !important;
}

.input-group-filters {
  background-color: var(--neutral-300);
}

/* Badge */
.text-bg-primary-light {
  color: var(--primary-base) !important;
  background-color: var(--primary-200) !important;
}

.text-bg-light {
  color: var(--neutral-500) !important;
  background-color: var(--primary-100) !important;
}

.text-bg-success {
  color: var(--alert-success) !important;
  background-color: var(--action-light-success) !important;
}

.text-bg-danger {
  color: var(--alert-danger) !important;
  background-color: var(--action-light-danger) !important;
}

.text-bg-warning {
  color: var(--alert-warning) !important;
  background-color: var(--action-light-warning) !important;
}

/* Absolute position */
.start-ap1 {
  left: 1%;
}

/* Button */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary-base);
  --bs-btn-border-color: var(--primary-base);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-300);
  --bs-btn-hover-border-color: var(--primary-base);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-300);
  --bs-btn-active-border-color: var(--primary-base);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary-base);
  --bs-btn-disabled-border-color: var(--primary-base);
}

/* Custom class for smooth transitions */
.transition-height {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  height: auto;
  opacity: 1;
}

/* State when hidden */
.transition-height.collapse {
  height: 0;
  opacity: 0;
}

/* Column */
section .financial-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(190px, 1fr));
  gap: 30px;
  min-width: 573px;
  overflow: auto;
}

/* Select2 */
.select2-container--bootstrap-5 .select2--small.select2-selection--single {
  padding: 0.594rem 2.75rem 0.594rem 0.5rem;
  height: 100% !important;
  border: 1px solid var(--neutral-300);
}

/* Responsive */
.text__hidden__responsive {
  display: none !important;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  section .financial-content {
    grid-template-columns: repeat(1, minmax(190px, 1fr));
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section .financial-content {
    grid-template-columns: repeat(2, minmax(190px, 1fr));
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section .financial-content {
    grid-template-columns: repeat(2, minmax(190px, 1fr));
  }

  .text__hidden__responsive {
    display: flex !important;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  section .financial-content {
    grid-template-columns: repeat(3, minmax(190px, 1fr));
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {

} */
